name: Github workflow practice

env:
  GLOBAL_VAR: 'workflow-level'
  DOCKER_USER: ${{ secrets.DOCKERHUB_USER }}
  REPO_VAR: ${{ vars.REPO_VAR}}

on:
  push:
    branches:
      - main

jobs:
  build-stage:
    env:
      JOB_VAR: 'job-level'

    runs-on: ubuntu-latest

    steps:

      - name: Install dependencies

        env:
          LOCAL_VAR: 'steps-level'

        run: |
          echo "GLOBAL: $GLOBAL_VAR"
          echo "JOB: $JOB_VAR"
          echo "LOCAL: $LOCAL_VAR"
          sudo apt-get update && sudo apt-get install -y tree

      - name: Show directory structure
        run: tree

      - name: Print hello
        run: echo "Hello world"

      - name: Show date
        run: date

      - name: Show system info
        run: uname -a
      
      - name: Access Github secrets and variables
        run: |
          echo "Github secrets": $DOCKER_USER
          echo "Github variables": $REPO_VAR