name: Lunar Tech github workflow

on:
  push:
    branches:
      - main
    paths:
      - '**/*.tsx'
      - '**/*.tsx'
      - '**/*.jsx'
      - '**/*.js'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run hello
        run: echo 'hello world'