name: Multi-step workflow

on:
  workflow_dispatch:
    
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y tree

      - name: Show directory structure
        run: tree

      - name: Print hello
        run: echo "Hello world"

      - name: Show date
        run: date

      - name: Show system info
        run: uname -a
